# Instance specific, not needed for modpack
/.fabric
/logs
/saves
/crash-reports
/itemscroller
/ModTranslations
/screenshots
/not-enough-crashes
/backup

/config/fabric/indigo-renderer.properties
/config/indium-renderer.properties
/config/iris.properties
/config/illuminations.properties
/config/trade.properties
/config/crowdin.txt
realms_persistence.json
options.txt
options.amecsapi.txt
servers.dat
usercache.json
