# Not needed to start server
/logs
/versions
/world/*
/.fabric
/debug
/not-enough-crashes
/backup

/config/trade.properties
/config/crowdin.txt
fabricloader.log
banned-ips.json
banned-players.json
eula.txt
fabric-server-launcher.properties
ops.json
server.properties
usercache.json
whitelist.json
